<h1>GET Request Received</h1>
<table>
  <thead>
    <tr>
      <th>Parameters</th>
      <th>Values</th>
  <tbody>
      {{#each dataList}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      {{/each}}

</table>
