<h1>POST Request Received</h1>
<table>
  <caption>Table 1</caption>
  <thead>
    <tr>
      <th>Parameters</th>
      <th>Values</th>
  <tbody>
      {{#each dataList3}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      {{/each}}
</table>

<table>
  <caption>Table 2</caption>
  <thead>
    <tr>
      <th>Parameters</th>
      <th>Values</th>
  <tbody>
      {{#each dataList2}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      {{/each}}

</table>
